[params]
;server ip. this should be the machine IP, NOT LOCALHOST (127.0.0.1), because it is serving to localhost automatically. leave commented out if you don't want the server to be accessible from network, just from localhost
;ip = 192.168.1.1
;server port. make sure that it's whitelisted in the firewall
port = 80
