[settings]
;in windows it should look like this: C:\dir\subdir\noTrailingSlash
;in unix/mac it should look like this: /root/dir/subdir/noTrailingSlashAgain
;
;if you want it to go to root in windows, just do C:\ or D:\ or whatever you like
;for unix/mac if you want it to do go to root - just leave it empty I guess?
;maybe '' instead of empty. not sure how it works and don't care too much
;unles someone asks me, then I'll figure it out
downloadsFolderPath = 
